.editing {
	border-bottom: none;
	padding: 0;
}

.editing .edit {
	display: block;
	width: 506px;
	padding: 13px 17px 12px 17px;
	margin: 0 0 0 43px;
}

.editing .view {
	display: none;
}

.editing:last-child {
	margin-bottom: -1px;
}

